{% load i18n static thumbnail party %}

<h1>{{ politician.first_name }} {{ politician.last_name }}</h1>
<div class="row profile-info">
    <div class="col-sm-12 col-md-3">
        <img class="img-thumbnail" src="{% if politician.image %}{{politician.image|thumbnail_url:'large'}}{% else %}{% static 'images/placeholder.svg' %}{% endif %}">
        <div
         class="spider-container"
         id="chart"
         data-url="{% url 'politician_statistic_spider' politician_id=politician.id %}?compare"
        ></div>
    </div>
    <div class="col-md-9 details">
        <table class="table">
            <tbody>
                <tr>
                {% if politician.state.count > 1 %}
                    <th>{% trans 'states' %}</th>
                    <td>
                        <a href="#" data-toggle="popover" data-placement="auto"
                           title="{% trans 'states' %}"
                            data-content="{% for state in politician.state.all %}{{state.name}}, {% endfor %}">
                            {{politician.state_name}}
                        </a>
                    </td>
                {% else %}
                    <th>{% trans 'state' %}:</th>
                    <td>{{politician.state_name}}</td>
                {% endif %}
                </tr>
                <tr>
                    <th>{% trans 'party' %}:</th>
                    <td>{% party_tag politician.party %}</td>
                <tr>
                    <th>{% trans 'past_contributions' %}:</th>
                    <td>{{politician.past_contributions}}</td>
                <tr>
                    <th>{% trans 'future_plans' %}:</th>
                    <td>{{politician.future_plans}}</td>
                <tr>
                    <th>{% trans 'is_member_of_parliament' %}:</th>
                    <td>{% if politician.is_member_of_parliament %}{% trans 'yes' %}{%else%}{% trans 'no' %}{%endif%}</td>
                <tr>
                    <th>{% trans 'show_own_spider' %}</th>
                    <td>
                    {% if 'statistics' in request.COOKIES and request.COOKIES.statistics != '{}' %}
                        <input type="checkbox" id="show_citizen" checked>
                    {% else %}
                        <a href="{% url 'compare' %}">{% trans 'add_own_opinion' %}</a>
                        <input type="checkbox" id="show_citizen" style="display:none">
                    {% endif %}
                    </td>
                </tr>


        {% if links %}
        <tr>
            <th>{% trans 'links' %}</th>
            <td>
                {% for link in links %}
                    <ul class="socialmedia-link list-unstyled">
                        <li>
                            <i class="fa socialmedia-link-icon" aria-hidden="true"></i>
                            <a class="socialmedia-link-anchor" href="{{link.url}}"></a>
                        </li>
                    </ul>
                {%endfor%}
            </td>
        </tr>
        {% endif %}
            </tbody>
        </table>
    </div>
</div>
